body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.toggle button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #f3f3f3;
    transition: background 0.3s;
}

.toggle button.active {
    background: #007bff;
    color: white;
}

.form {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.form.active {
    display: flex;
}

form h2 {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: #0056b3;
}

.btn-ini {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-ini {
    background: #0056b3;
}